*.class
*.DS*
cpu_algorithms/part1/week3/problem_set/collinear.zip
cpu_algorithms/part1/week3/problem_set/collinear/BruteCollinearPoints.java
cpu_algorithms/part1/week3/problem_set/collinear/FastCollinearPoints.java
cpu_algorithms/part1/week3/problem_set/collinear/Point.java
cpu_algorithms/part1/week4/problem_set/8puzzle/*.java
cpu_algorithms/part1/week5/problem_set/kdtree/*.java
*.out
cpu_algorithms/part1/week*/problem_set/*.zip
